body {
    font-family: 'Raleway', sans-serif;
}

header {
    text-align: center;
}

header ul {
    width: 250px;
    list-style: none;
    margin: 0 auto;
}

header ul li {
    width: 18px;
    height: 18px;
    background: #f332fd;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}


section {
    clear: both;
}